In [1]:
import pandas as pd
from pathlib import Path

from funcoes import grupo_risco_por_estado, ler_arquivo_csv, apresentam_sintoma, total_com_todos_sintomas_por_estado, total_com_alguns_sintomas_por_estado

In [2]:
df = ler_arquivo_csv('srag_2019')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48528 entries, 0 to 48527
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DT_NOTIFIC  48528 non-null  object
 1   SG_UF_NOT   48528 non-null  object
 2   ID_MUNICIP  48528 non-null  object
 3   CS_SEXO     48528 non-null  object
 4   DT_NASC     48361 non-null  object
 5   NU_IDADE_N  48528 non-null  int64
 6   CS_RACA     48528 non-null  float64
 7   CS_ESCOL_N  48528 non-null  float64
 8   CS_ZONA     48528 non-null  float64
 9   FEBRE       48528 non-null  float64
 10  TOSSE       48528 non-null  float64
 11  GARGANTA    48528 non-null  float64
 12  DISPNEIA    48528 non-null  float64
 13  OBESIDADE   48528 non-null  float64
 14  DIABETES    48528 non-null  float64
 15  PNEUMOPATI  48528 non-null  float64
 16  IMUNODEPRE  48528 non-null  float64
dtypes: float64(11), int64(1), object(5)
memory usage: 6.3+ MB

# Distribuição Demográfica e Epidemiológica

### Distribuição epidemiologica por sexo

In [3]:
print(f'Homem e Mulher que apresentaram sintoma de FEBRE')
febre_sexo = apresentam_sintoma(df, 'FEBRE', 'CS_SEXO')
febre_sexo
print(f'Homem e Mulher que apresentaram sintoma de TOSSE')
apresentam_sintoma(df, 'TOSSE', 'CS_SEXO')
print(f'Homem e Mulher que apresentaram sintoma de GARGANTA')
apresentam_sintoma(df, 'GARGANTA', 'CS_SEXO')
print(f'Homem e Mulher que apresentaram sintoma de DISPNEIA')
apresentam_sintoma(df, 'DISPNEIA', 'CS_SEXO')
print(f'Homem e Mulher que apresentaram sintoma de PNEUMOPATI')
apresentam_sintoma(df, 'PNEUMOPATI', 'CS_SEXO')

Homem e Mulher que apresentaram sintoma de FEBRE
M: 45.71 %
F: 42.37 %
I: 0.02 %
Homem e Mulher que apresentaram sintoma de TOSSE
M: 47.49 %
F: 45.04 %
I: 0.02 %
Homem e Mulher que apresentaram sintoma de GARGANTA
M: 7.79 %
F: 9.38 %
I: 0.01 %
Homem e Mulher que apresentaram sintoma de DISPNEIA
M: 42.06 %
F: 40.42 %
I: 0.02 %
Homem e Mulher que apresentaram sintoma de PNEUMOPATI
M: 3.26 %
F: 3.45 %
I: 0.0 %

{'M': 3.26, 'F': 3.45, 'I': 0.0}

### Distribuição epidemiologica por raça

In [4]:
# 1-Branca
# 2-Preta
# 3-Amarela
# 4-Parda
# 5-Indígena
# 9-Ignorado

print(f'Quem mais apresentou sintoma de FEBRE')
febre_raca = apresentam_sintoma(df, 'FEBRE', 'CS_RACA')
febre_raca
# print(f'Quem mais apresentou sintoma de  TOSSE')
# apresentam_sintoma(df, 'TOSSE', 'CS_RACA')
# print(f'Quem mais apresentou sintoma de GARGANTA')
# apresentam_sintoma(df, 'GARGANTA', 'CS_RACA')
# print(f'Quem mais apresentou sintoma de DISPNEIA')
# apresentam_sintoma(df, 'DISPNEIA', 'CS_RACA')
# print(f'Quem mais apresentou sintoma de PNEUMOPATI')
# apresentam_sintoma(df, 'PNEUMOPATI', 'CS_RACA')

Quem mais apresentou sintoma de FEBRE
1.0: 40.0 %
4.0: 30.06 %
9.0: 13.56 %
2.0: 3.18 %
3.0: 0.54 %
5.0: 0.76 %

{'1.0': 40.0,
 '4.0': 30.06,
 '9.0': 13.56,
 '2.0': 3.18,
 '3.0': 0.54,
 '5.0': 0.76}

### Distribuição epidemiologica por faixa etária

In [5]:

febre_idade = apresentam_sintoma(df, 'FEBRE', 'NU_IDADE_N')
febre_idade
# apresentam_sintoma(df, 'TOSSE', 'NU_IDADE_N')
# apresentam_sintoma(df, 'GARGANTA', 'NU_IDADE_N')
# apresentam_sintoma(df, 'DISPNEIA', 'NU_IDADE_N')
# apresentam_sintoma(df, 'PNEUMOPATI', 'NU_IDADE_N')

52.47% dos que apresentaram sintoma de FEBRE eram crianca
2.56% dos que apresentaram sintoma de FEBRE eram adoslecente
25.96% dos que apresentaram sintoma de FEBRE eram adultos
18.43% dos que apresentaram sintoma de FEBRE eram adultos

[np.float64(52.47), np.float64(2.56), np.float64(25.96), np.float64(18.43)]

### total de pessoas com pelo menos 1 sintoma

In [6]:

algum_sintoma = total_com_alguns_sintomas_por_estado(df, 'SG_UF_NOT')
algum_sintoma

   SG_UF_NOT  TODOS_SINTOMAS
0         AC             356
1         AL             250
2         AM            1912
3         AP              55
4         BA            1822
5         CE            1067
6         DF            2154
7         ES             846
8         GO            1002
9         MA             245
10        MG            3980
11        MS            1726
12        MT             315
13        PA            1072
14        PB             370
15        PE            2584
16        PI             483
17        PR            6870
18        RJ            2394
19        RN             336
20        RO             163
21        RR              31
22        RS            3570
23        SC            2125
24        SE             253
25        SP           12304
26        TO             243

In [7]:
todos_os_sintomas = total_com_todos_sintomas_por_estado(df, 'SG_UF_NOT')
todos_os_sintomas

   SG_UF_NOT  TODOS_SINTOMAS
0         AC              97
1         AL              73
2         AM             608
3         AP              19
4         BA             281
5         CE             133
6         DF             228
7         ES             115
8         GO             249
9         MA              20
10        MG             502
11        MS             422
12        MT              94
13        PA             175
14        PB              58
15        PE             132
16        PI             112
17        PR             941
18        RJ             221
19        RN              61
20        RO              79
21        RR               7
22        RS             378
23        SC             425
24        SE              26
25        SP            1785
26        TO              22

# Grupo de Riscos

In [8]:
df

,DT_NOTIFIC,SG_UF_NOT,ID_MUNICIP,CS_SEXO,DT_NASC,NU_IDADE_N,CS_RACA,CS_ESCOL_N,CS_ZONA,FEBRE,TOSSE,GARGANTA,DISPNEIA,OBESIDADE,DIABETES,PNEUMOPATI,IMUNODEPRE,TODOS_SINTOMAS,SINTOMA
0,10/01/2019,MG,BELO HORIZONTE,M,17/03/1988,30,1.0,2.0,1.0,1.0,1.0,2.0,1.0,9.0,9.0,9.0,9.0,True,False
1,03/01/2019,SP,SAO PAULO,F,30/05/2018,7,1.0,5.0,1.0,1.0,1.0,2.0,1.0,9.0,9.0,9.0,9.0,True,False
2,02/01/2019,PE,RECIFE,M,07/05/2017,1,4.0,5.0,1.0,1.0,1.0,2.0,1.0,9.0,9.0,9.0,9.0,True,False
3,10/01/2019,SP,CAMPINAS,F,15/07/2018,5,1.0,5.0,1.0,1.0,1.0,9.0,1.0,9.0,9.0,9.0,9.0,True,False
4,11/01/2019,PE,CARUARU,F,15/09/2018,3,4.0,5.0,1.0,1.0,2.0,2.0,1.0,9.0,9.0,9.0,9.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48523,12/12/2019,BA,SALVADOR,M,29/11/2010,9,4.0,0.0,1.0,1.0,1.0,9.0,1.0,9.0,9.0,9.0,9.0,True,False
48524,05/11/2019,PA,CAPANEMA,F,07/07/1947,72,4.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,2.0,True,False
48525,11/04/2020,SP,GUARUJA,M,13/12/1947,72,4.0,9.0,1.0,2.0,1.0,1.0,1.0,9.0,9.0,9.0,9.0,True,False
48526,31/10/2019,BA,BRUMADO,F,07/05/1966,53,4.0,1.0,2.0,1.0,1.0,9.0,1.0,9.0,9.0,9.0,9.0,True,False
48527,08/04/2020,ES,SERRA,M,16/07/1933,86,4.0,9.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,True,False

In [9]:
df[['SG_UF_NOT','DISPNEIA','OBESIDADE',	'DIABETES',	'PNEUMOPATI','IMUNODEPRE']]

      SG_UF_NOT  DISPNEIA  OBESIDADE  DIABETES  PNEUMOPATI  IMUNODEPRE
0            MG       1.0        9.0       9.0         9.0         9.0
1            SP       1.0        9.0       9.0         9.0         9.0
2            PE       1.0        9.0       9.0         9.0         9.0
3            SP       1.0        9.0       9.0         9.0         9.0
4            PE       1.0        9.0       9.0         9.0         9.0
...         ...       ...        ...       ...         ...         ...
48523        BA       1.0        9.0       9.0         9.0         9.0
48524        PA       1.0        2.0       1.0         2.0         2.0
48525        SP       1.0        9.0       9.0         9.0         9.0
48526        BA       1.0        9.0       9.0         9.0         9.0
48527        ES       1.0        2.0       2.0         2.0         2.0

[48528 rows x 6 columns]

In [10]:
filter_sp = df[['SG_UF_NOT','DISPNEIA','OBESIDADE',	'DIABETES',	'PNEUMOPATI','IMUNODEPRE']]['SG_UF_NOT'] == 'SP'

filter_com = df.loc[filter_sp, ['DISPNEIA','OBESIDADE',	'DIABETES',	'PNEUMOPATI','IMUNODEPRE']]

for comorbidade in filter_com.columns:

    print(filter_com[comorbidade].value_counts())

DISPNEIA
1.0    9480
2.0    2610
9.0     214
Name: count, dtype: int64
OBESIDADE
9.0    7864
2.0    4247
1.0     193
Name: count, dtype: int64
DIABETES
9.0    7685
2.0    3644
1.0     975
Name: count, dtype: int64
PNEUMOPATI
9.0    7671
2.0    3811
1.0     822
Name: count, dtype: int64
IMUNODEPRE
9.0    7736
2.0    4085
1.0     483
Name: count, dtype: int64

In [11]:

def grupo_de_riscos(dataframe):

    lista_riscos = ['DISPNEIA','OBESIDADE',	'DIABETES',	'PNEUMOPATI','IMUNODEPRE']
    
    dataframe['COMORBIDADE'] = dataframe[lista_riscos].isin([1]).any(axis=1)
    total_por_estado = dataframe[dataframe['COMORBIDADE']].groupby(
        'SG_UF_NOT').size().reset_index(name='COMORBIDADE')

    return total_por_estado

df_grupo_riscos = grupo_de_riscos(df)
df_grupo_riscos

   SG_UF_NOT  COMORBIDADE
0         AC          333
1         AL          235
2         AM         1803
3         AP           52
4         BA         1611
5         CE          941
6         DF         1925
7         ES          658
8         GO          918
9         MA          172
10        MG         3563
11        MS         1521
12        MT          302
13        PA          969
14        PB          343
15        PE         2403
16        PI          424
17        PR         5468
18        RJ         1949
19        RN          298
20        RO          144
21        RR           26
22        RS         3013
23        SC         1697
24        SE          232
25        SP         9824
26        TO          214

In [3]:
df_sp = grupo_risco_por_estado(df,'SP')
df_sp

     DISPNEIA  OBESIDADE  DIABETES  PNEUMOPATI  IMUNODEPRE
1.0      9480        193       975         822         483
2.0      2610       4247      3644        3811        4085
9.0       214       7864      7685        7671        7736